name: sh-test
#     ~~~~~~~
# https://github.com/versenv/versenv/workflows/sh-test/badge.svg
#                                              ~~~~~~~

on:
  #schedule:
  #  # Monday 11:00 JST
  #  - cron:  '0 2 * * 1'
  push:
    branches:
      - main
    # NO paths-ignore
  pull_request:
    # NO paths-ignore
  workflow_dispatch:
    inputs: {}

# NOTE: If commit & push continuously, cancel the workflow other than the latest commit.
concurrency:
  group: ${{ github.workflow }}-${{ github.base_ref }}-${{ github.head_ref }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  id-token: write
  contents: read

env:
  WORKDIR: .

defaults:
  run:
    shell: bash

jobs:
  paths-filter:
    runs-on: ubuntu-latest
    outputs:
      skip: ${{ steps.paths-filter.outputs.skip }}
    steps:
      - uses: hakadoriya/github-actions-paths-filter-alternative@v1.0.1
        id: paths-filter
        with:
          paths-ignore: |-
            # substrings of file paths to ignore written in regular expressions
            ^.github/dependabot.yml$
            ^.github/pull_request_template.md$
            ^.github/release.yml$
            ^.github/workflows/label-checker.yml$
            ^.github/workflows/task-list-checker.yml$
            ^.*\.md$
  # > Note: A job that is skipped will report its status as "Success".
  # > It will not prevent a pull request from merging, even if it is a required check.
  # ref. https://docs.github.com/en/actions/using-jobs/using-conditions-to-control-job-execution#overview
  sh-test:
    runs-on: ubuntu-latest
    needs: paths-filter
    if: ${{ needs.paths-filter.outputs.skip != 'true' }}
    steps:
      - uses: actions/checkout@v6
      - name: DEBUG
        shell: bash
        run: |
          cat <<'DEBUG_DOC'
          == DEBUG =======================================================
          github.ref: ${{ github.ref }}
          github.event_name: ${{ github.event_name }}
          -- toJSON(github.event.inputs) ---------------------------------
          ${{ toJSON(github.event.inputs) }}
          -- toJSON(github) ----------------------------------------------
          ${{ toJSON(github) }}
          ================================================================
          DEBUG_DOC
      - name: Run test.sh
        working-directory: ${{ env.WORKDIR }}
        run: |
          ${{ env.WORKDIR }}/test.sh
