name: shellcheck
#     ~~~~~~~~~~
# https://github.com/versenv/versenv/workflows/shellcheck/badge.svg
#                                              ~~~~~~~~~~

on:
  schedule:
    # Monday 11:00 JST
    - cron:  '0 2 * * 1'
  push:
    branches:
      - main
    # NO paths-ignore
  pull_request:
    # NO paths-ignore
  workflow_dispatch:
    inputs: {}

# NOTE: If commit & push continuously, cancel the workflow other than the latest commit.
concurrency:
  group: ${{ github.workflow }}-${{ github.base_ref }}-${{ github.head_ref }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  id-token: write
  contents: read

env:
  WORKDIR: .

defaults:
  run:
    shell: bash

jobs:
  paths-ignore:
    runs-on: ubuntu-latest
    outputs:
      skip: ${{ steps.paths-ignore.outputs.skip }}
    steps:
      - uses: kunitsucom/github-actions-paths-ignore-alternative@v0.0.4
        id: paths-ignore
        with:
          paths-ignore: |-
            # substrings of file paths to ignore written in regular expressions
            ^.github/dependabot.yml$
            ^.github/pull_request_template.md$
            ^.github/release.yml$
            ^.github/workflows/label-checker.yml$
            ^.github/workflows/task-list-checker.yml$
            ^.*\.md$
  # > Note: A job that is skipped will report its status as "Success".
  # > It will not prevent a pull request from merging, even if it is a required check.
  # ref. https://docs.github.com/en/actions/using-jobs/using-conditions-to-control-job-execution#overview
  shellcheck:
    runs-on: ubuntu-latest
    needs: paths-ignore
    if: ${{ needs.paths-ignore.outputs.skip != 'true' }}
    steps:
      - uses: actions/checkout@v4
      - name: DEBUG
        shell: bash
        run: |
          cat <<'DEBUG_DOC'
          == DEBUG =======================================================
          github.ref: ${{ github.ref }}
          github.event_name: ${{ github.event_name }}
          -- toJSON(github.event.inputs) ---------------------------------
          ${{ toJSON(github.event.inputs) }}
          -- toJSON(github) ----------------------------------------------
          ${{ toJSON(github) }}
          ================================================================
          DEBUG_DOC
      - name: Run shellcheck
        working-directory: ${{ env.WORKDIR }}
        run: |
          shellcheck bin/*
